<header class="site-header">
    <div class="container px-0">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">OuicodeGIS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-alt" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
        <div class="ollapse navbar-collapse navbar-alt" id="navbarNav">
          <ul class="navbar-nav">
            <!--Blog-->
            <li {% if page.path == "index.html" %} class="nav-item active dropdown-toggle" {% endif %} class="nav-item" >
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              href="{{ site.baseurl }}/index.html">Blog</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ site.baseurl }}/index.html">Home</a>
                  <a class="dropdown-item" href="{{ site.baseurl }}/categories.html">Category</a>
                </div>
            </li>

            <li {% if page.path == "portfolio.html" %} class="nav-item active" {% endif %} class="nav-item" >
                <a class="nav-link" href="{{ site.baseurl }}/portfolio.html">Portfolio</a>
            </li>
            <li {% if page.path == "resume.html" %} class="nav-item active" {% endif %} class="nav-item" >
                <a class="nav-link" href="{{ site.baseurl }}/resume.html">Resume</a>
            </li>
            <li {% if page.path == "about-me.html" %} class="nav-item active" {% endif %} class="nav-item" >
                <a class="nav-link" href="{{ site.baseurl }}/about-me.html">About me</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
