<header class="site-header">
    <div class="container px-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-black">
            <a class="navbar-brand" href="#">
                <img src="{{ site.baseurl }}/img/logo_final.png" width="210" height="53" 
                class="d-inline-block align-top responsive" alt="">
              </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars" style="color:#1e7fac"></i></button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li {% if page.path == "index.html" %} class="nav-item active" {% endif %} class="nav-item" >
                    <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
                </li>
                <li {% if page.path == "portfolio.html" %} class="nav-item active" {% endif %} class="nav-item" >
                    <a class="nav-link" href="{{ site.baseurl }}/portfolio.html">Portfolio</a>
                </li>
                <li {% if page.path == "resume.html" %} class="nav-item active" {% endif %} class="nav-item" >
                    <a class="nav-link" href="{{ site.baseurl }}/resume.html">Resume</a>
                </li>
                <li {% if page.path == "about-me.html" %} class="nav-item active" {% endif %} class="nav-item" >
                    <a class="nav-link" href="{{ site.baseurl }}/about-me.html">About me</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Blog
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{{ site.baseurl }}/index.html">Home</a>
                      <a class="dropdown-item" href="{{ site.baseurl }}/categories.html">Tags</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
    </div>
  </header>
