<head>
  <!-- Meta Tags Generated via http://heymeta.com -->

  <!-- HTML Meta Tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  
  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="OuiCodeGIS">
  <meta itemprop="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta itemprop="image" content="https://ouicodegis.com//img/logo2-black.png">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://ouicodegis.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="OuiCodeGIS">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:image" content="https://ouicodegis.com//img/logo2-black.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="OuiCodeGIS">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="https://ouicodegis.com//img/logo2-black.png">

    <!-- Jquery -->
  <script src="{{site.baseurl}}/static/jquery-3.1.1.min.js"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{site.baseurl}}/static/bootstrap.min.css">
  <script src="{{site.baseurl}}/static/bootstrap.min.js"></script>

  <!-- Fontsawesome -->
  <link rel="stylesheet" href="{{site.baseurl}}/static/font-awesome-5.3.1/css/all.css">
  <link rel="stylesheet" href="{{site.baseurl}}/static/font-awesome-5.3.1/css/v4-shims.css">

  <!-- Social icons -->
  <link rel="stylesheet" href="{{site.baseurl}}/static/social-icons.css">

  <!--Portfolio -->
  <link rel="stylesheet" href="{{site.baseurl}}/static/portfolio.css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{site.baseurl}}/img/favicon_32.ico">

  <!-- should put bootstrap before main style sheet, otherwise it't hard to override  -->
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/css/syntax.css' | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
</head>